{% extends "base.html" %}

{% block title %}
Article Detail
{% endblock %}

{% block content %}
<h1>{{ article.title }}</h1>
<h3>Author: {{ article.author }}</h3>
{% if article.image %}
  <img src="{{ article.image.url }}" >
{% endif %}
<p>{{ article.content }}</p>
<p>{{ article.date }}</p>
<a href="{% url 'update' article.id %}">
  <button type="button" name="button">
    Update
  </button>
</a>

<a href="{% url 'delete' article.id %}">
  <button type="button" name="button">
    Delete
  </button>
</a>
{% endblock %}
